# Configure user profile according to my preferences
# Copyright 2025 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0+

- name: Ensure the .profile.d configuration drop-in directory exists.
  ansible.builtin.file:
    path: '{{ _profile_d_dir }}'
    state: directory
    owner: '{{ ansible_user_id }}'
    group: '{{ ansible_user_id }}'
    mode: '0755'

- name: Deploy all .profile.d scriptlets.
  loop: >-
    {{ lookup(
      'ansible.builtin.fileglob',
      role_path + '/files/dot-profile.d/*.source.sh',
      wantlist=True)
    }}
  loop_control:
    label: '{{ item | basename }}'
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ _profile_d_dir }}/{{ item | basename }}'
    mode: '0644'
