# Task list for deploying Docker and its utilities on the managed nodes
#
# Copyright 2024 林博仁(Buo-ren Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0+

- name: >-
    Ensure that the Docker Engine and its supporting software is installed,
    which is used to create testing environments for some of my projects.
  when: >-
    ansible_distribution == 'Ubuntu'
      or ansible_distribution == 'Debian'
      or ansible_distribution == 'Fedora'
      or ansible_distribution == 'Alpine'
      or ansible_distribution == 'ArchLinux'
  become: true
  vars:
    docker_edition: ce
    docker_install_compose_plugin: true
  ansible.builtin.import_role:
    name: geerlingguy.docker

- name: Making Docker bridge interfaces not managed by NetworkManager.
  become: true
  notify:
    - Apply udev rule changes
    - Reload NetworkManager configuration
  ansible.builtin.copy:
    src: udev.rules.d/dont-manage-docker-managed-bridges.rules
    dest: /etc/udev/rules.d/85-nm-unmanaged-docker.rules
    owner: root
    group: root
    mode: '0644'

- name: Allow Docker egress traffic through LXD bridge interfaces.
  when: ansible_virtualization_type != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    in_interface: "{{ item }}"
    jump: ACCEPT
    action: insert
    rule_num: 1

- name: Allow Docker egress traffic through LXD bridge interfaces (IPv6).
  when: ansible_virtualization_type != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    in_interface: "{{ item }}"
    jump: ACCEPT
    action: insert
    rule_num: 1
    ip_version: ipv6

- name: Allow Docker established connections through LXD bridge interfaces.
  when: ansible_virtualization_type != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    out_interface: "{{ item }}"
    ctstate: RELATED,ESTABLISHED
    jump: ACCEPT
    action: insert
    rule_num: 1

- name: Allow Docker established connections through LXD bridge interfaces (IPv6).
  when: ansible_virtualization_type != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    out_interface: "{{ item }}"
    ctstate: RELATED,ESTABLISHED
    jump: ACCEPT
    action: insert
    rule_num: 1
    ip_version: ipv6

- name: Install iptables-persistent for rule persistence.
  when: >-
    ansible_os_family == 'Debian'
    and ansible_virtualization_type != 'docker'
  become: true
  ansible.builtin.package:
    name: iptables-persistent

- name: Save current iptables rules to persistent storage.
  when: >-
    ansible_os_family == 'Debian'
    and ansible_virtualization_type != 'docker'
  become: true
  register: iptable_save_result
  changed_when: iptable_save_result.rc == 0
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4

- name: Save current ip6tables rules to persistent storage.
  when: >-
    ansible_os_family == 'Debian'
    and ansible_virtualization_type != 'docker'
  become: true
  register: iptable_save_result
  changed_when: iptable_save_result.rc == 0
  ansible.builtin.shell: ip6tables-save > /etc/iptables/rules.v6
