# Task list for deploying the KDE desktop environment and its associated applications
#
# Copyright 2025 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0+

- name: >-
    Ensure that the KDE desktop environment is installed, which
    provides feature-rich desktop experience.
  become: true
  ansible.builtin.package:
    name:
      - kde-standard

- name: Ensure that the Wayland session of KDE is installed.
  when: >-
    ansible_distribution == "Ubuntu"
    and ansible_distribution_version <= "24.04"
  become: true
  ansible.builtin.package:
    name:
      # Wayland session
      - plasma-workspace-wayland

- name: Ensure that the session environment variables drop-in configuration directory exists.
  become: false
  ansible.builtin.file:
    path: '{{ ansible_user_dir }}/.config/plasma-workspace/env'
    state: directory
    mode: '0755'

- name: Workaround KDE desktop environment not honouring user profile settings.
  become: false
  ansible.builtin.copy:
    src: plasma-workspace-env/load-user-profile.source.sh
    dest: '{{ ansible_user_dir }}/.config/plasma-workspace/env/90-load-user-profile.source.sh'
    mode: '0644'

- name: Configure the preferred single click behavior in the KDE desktop environment.
  become: false
  community.general.kdeconfig:
    path: >-
      {{
        ansible_env.XDG_CONFIG_HOME
        | default(ansible_user_dir + "/.config")
      }}/kdeglobals
    values:
      - group: KDE
        key: SingleClick
        bool_value: false

- name: Check whether the Breeze Dark global theme is configured in the KDE desktop environment.
  become: false
  changed_when: false
  failed_when: false
  register: kde_global_theme_config_raw
  ansible.builtin.command:
    argv:
      - grep
      - --extended-regexp
      - --quiet
      - ^LookAndFeelPackage=org.kde.breezedark.desktop
      - '{{ ansible_user_dir }}/.config/kdeglobals'

- name: Configure the Breeze Dark KDE global theme.
  when: kde_global_theme_config_raw.rc != 0
  become: false
  register: kde_global_theme_change_raw
  changed_when: kde_global_theme_change_raw.rc != 0
  environment:
    QT_QPA_PLATFORM: offscreen
  ansible.builtin.command:
    argv:
      - lookandfeeltool
      - --apply
      - org.kde.breezedark.desktop

- name: Use Plastik window decoration in KDE desktop environment to provide a Windows-like user interface.
  become: false
  community.general.kdeconfig:
    path: >-
      {{
        ansible_env.XDG_CONFIG_HOME
        | default(ansible_user_dir + "/.config")
      }}/kwinrc
    values:
      - group: org.kde.kdecoration2
        key: library
        value: org.kde.kwin.aurorae
      - group: org.kde.kdecoration2
        key: theme
        value: kwin4_decoration_qml_plastik

- name: Enable wobbly window desktop effect
  become: false
  community.general.kdeconfig:
    path: >-
      {{
        ansible_env.XDG_CONFIG_HOME
        | default(ansible_user_dir + "/.config")
      }}/kwinrc
    values:
      - group: Plugins
        key: wobblywindowsEnabled
        bool_value: true

- name: Install runtime dependencies for the Dolphin UI configuration file patching logic
  become: true
  ansible.builtin.package:
    name: python3-lxml

- name: Check whether the Dolphin UI configuration file exists
  become: false
  register: dolphinui_config_presence_raw
  ansible.builtin.stat:
    path: '{{ ansible_user_dir }}/.local/share/kxmlgui5/dolphin/dolphinui.rc'

- name: Ensure the Dolphin kxmlgui configuration directory exists
  when: not dolphinui_config_presence_raw.stat.exists
  ansible.builtin.file:
    path: '{{ ansible_user_dir }}/.local/share/kxmlgui5/dolphin'
    state: directory
    mode: '0755'

# NOTE: This customization won't work if the Dolphin UI configuration file doesn't exist in the first place, which requires a UI customization to be done manually beforehand.
# https://gitlab.com/brlin/brlin-os-customizations/-/issues/15#note_2411474995
- name: Install a base Dolphin UI configuration file from Dolphin 22.12.3 to work on
  when: not dolphinui_config_presence_raw.stat.exists
  become: false
  ansible.builtin.copy:
    src: kxmlgui5/dolphin/dolphinui.rc
    dest: '{{ ansible_user_dir }}/.local/share/kxmlgui5/dolphin/dolphinui.rc'
    mode: '0644'

- name: Check whether the "back to upper directory" toolbar option is already available
  become: false
  register: dolphin_go_up_toolbar_option_presence_raw
  community.general.xml:
    path: '{{ ansible_user_dir }}/.local/share/kxmlgui5/dolphin/dolphinui.rc'
    xpath: '/gui/ToolBar[@name="mainToolBar"]/Action[@name="go_up"]'
    count: true

- name: Add the "back to upper directory" toolbar option to the Dolphin file manager's main toolbar.
  when: dolphin_go_up_toolbar_option_presence_raw.count == 0
  become: false
  community.general.xml:
    path: '{{ ansible_user_dir }}/.local/share/kxmlgui5/dolphin/dolphinui.rc'
    backup: true
    xpath: '/gui/ToolBar[@name="mainToolBar"]/Action[@name="go_back"]'
    insertafter: true
    add_children:
      - Action:
          name: go_up

- name: Deploy Kate
  ansible.builtin.import_tasks: deploy-kate.yml
