# Task list for deploying Docker and its utilities on the managed nodes
#
# Copyright 2026 林博仁(Buo-ren Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0+

- name: Set docker users to current user
  ansible.builtin.set_fact:
    docker_users:
      - '{{ ansible_facts["user_id"] }}'

- name: >-
    Ensure that the Docker Engine and its supporting software is installed,
    which is used to create testing environments for some of my projects.
  when: >-
    ansible_facts["distribution"] == 'Ubuntu'
      or ansible_facts["distribution"] == 'Debian'
      or ansible_facts["distribution"] == 'Fedora'
      or ansible_facts["distribution"] == 'Alpine'
      or ansible_facts["distribution"] == 'ArchLinux'
  become: true
  ansible.builtin.import_role:
    name: geerlingguy.docker

- name: Making Docker bridge interfaces not managed by NetworkManager.
  become: true
  notify:
    - Apply udev rule changes
    - Reload NetworkManager configuration
  ansible.builtin.copy:
    src: udev.rules.d/dont-manage-docker-managed-bridges.rules
    dest: /etc/udev/rules.d/85-nm-unmanaged-docker.rules
    owner: root
    group: root
    mode: '0644'

- name: Workaround LXD networking blocked due to Docker firewall policies(ingress, IPv4).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    in_interface: "{{ item }}"
    jump: ACCEPT
    action: insert
    rule_num: 1

- name: Workaround LXD networking blocked due to Docker firewall policies (ingress, IPv6).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    in_interface: "{{ item }}"
    jump: ACCEPT
    action: insert
    rule_num: 1
    ip_version: ipv6

- name: Workaround LXD networking blocked due to Docker firewall policies (egress, IPv4).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    out_interface: "{{ item }}"
    ctstate: RELATED,ESTABLISHED
    jump: ACCEPT
    action: insert
    rule_num: 1

- name: Workaround LXD networking blocked due to Docker firewall policies (egress, IPv6).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  loop:
    - lxdbr0
  ansible.builtin.iptables:
    chain: DOCKER-USER
    out_interface: "{{ item }}"
    ctstate: RELATED,ESTABLISHED
    jump: ACCEPT
    action: insert
    rule_num: 1
    ip_version: ipv6

- name: Workaround NetworkManager hotspot networking blocked due to Docker firewall policies (egress).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  ansible.builtin.iptables:
    action: insert
    chain: DOCKER-USER
    source: 10.42.0.0/24
    jump: ACCEPT

- name: Workaround NetworkManager hotspot networking blocked due to Docker firewall policies (ingress).
  when: ansible_facts["virtualization_type"] != 'docker'
  become: true
  ansible.builtin.iptables:
    action: insert
    chain: DOCKER-USER
    destination: 10.42.0.0/24
    ctstate:
      - RELATED
      - ESTABLISHED
    jump: ACCEPT

- name: Install iptables-persistent for rule persistence.
  when: >-
    ansible_facts["os_family"] == 'Debian'
    and ansible_facts["virtualization_type"] != 'docker'
  become: true
  ansible.builtin.package:
    name: iptables-persistent

- name: Save current iptables rules to persistent storage.
  when: >-
    ansible_facts["os_family"] == 'Debian'
    and ansible_facts["virtualization_type"] != 'docker'
  become: true
  register: iptable_save_result
  changed_when: iptable_save_result.rc == 0
  ansible.builtin.shell: iptables-save > /etc/iptables/rules.v4

- name: Save current ip6tables rules to persistent storage.
  when: >-
    ansible_facts["os_family"] == 'Debian'
    and ansible_facts["virtualization_type"] != 'docker'
  become: true
  register: iptable_save_result
  changed_when: iptable_save_result.rc == 0
  ansible.builtin.shell: ip6tables-save > /etc/iptables/rules.v6
