# Increase the inotify watches limit on development hosts
#
# Copyright 2025 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0+
fs.inotify.max_user_watches = {{ brlinos_inotify_max_user_watches }}
