# udev(7) rule for making virtual ethernet device interfaces(veth(4))
# not managed by NetworkManager(8)
#
# Adapted from /usr/lib/udev/rules.d/85-nm-unmanaged.rules
#
# Also adapted from:
# Do not manage Docker bridge interfaces (!15) · Merge Requests · NetworkManager / NetworkManager · GitLab
# https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/merge_requests/15#note_30764
#
# We would like to thank Tomáš Janoušek for sharing the initial code
#
# Reference:
#
# * moby/libnetwork/drivers/bridge/bridge_linux.go at 0751141 · moby/moby
#   https://github.com/moby/moby/blob/0751141/libnetwork/drivers/bridge/bridge_linux.go#L31
#   Explains the naming syntax of the veth interface in Docker
#
# Copyright 2023 林博仁(Buo-ren, Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

SUBSYSTEM!="net", GOTO="nm_unmanaged_veth_end"
ACTION!="add|change", GOTO="nm_unmanaged_veth_end"

SUBSYSTEM=="net", ACTION=="add|change", ENV{INTERFACE}=="veth*", ENV{NM_UNMANAGED}="1"

LABEL="nm_unmanaged_veth_end"
