# shellcheck shell=sh
# Configure Gemini CLI
#
# FIXME: Plaintext API key!  Find a better way to manage this.
# https://github.com/google-gemini/gemini-cli/issues/10232
#
# Copyright 2025 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: AGPL-3.0-or-later
GEMINI_API_KEY={{ gemini_api_key }}
export GEMINI_API_KEY
